@use '../../../mixins/mediaSize' as *;
@use '../../../mixins/variables' as *;
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 5rem;
  overflow-y: auto;
  background-color: $bg-color;

  @include mediaDesktop {
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
  }
}

.modal__content {
  @include mediaMobile {
    padding-bottom: 5rem;
  }
}
