@use '../../../../mixins/variables' as *;
@use '../../../../mixins/mediaSize' as *;

.textField {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.38rem;
}

.textField__title {
  font-family: $font-ubuntu;
  font-size: 0.7rem;
  line-height: 0.7rem;
  font-weight: 400;
  color: #949ea0;
}

.textField__value {
  font-family: $font-ubuntu;
  font-size: 1.2rem;
  line-height: 0.81rem;
  font-weight: 400;
  color: #334144;
}
