@use '../../../../mixins/variables' as *;

.container {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
  align-items: center;
  cursor: pointer;
  background: none;
  border: none;
}

.container__column {
  flex-direction: column;
  align-items: flex-start;

  .avatarImage {
    margin-left: 1rem;
  }
}

.container__row {
  flex-direction: row;
  align-items: center;
}

.container__text {
  color: #949ea0;
  font-family: $font-ubuntu;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 0.875rem;
  letter-spacing: 0;
}

.avatarImage {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
