@use '../../../../mixins/variables' as *;
@use '../../../../mixins/mediaSize' as *;

.navbar__items {
  display: none;
  gap: 2rem;
  @include mediaDesktop {
    display: flex;
    align-items: center;
  }
}

.navbar__items__visible {
  display: flex;
}

.navbar__items__row {
  flex-direction: row;
}

.navbar__items__column {
  flex-direction: column;
  gap: 1.5rem;
}

.navbar__itemsText {
  font-family: $font-montserrat;
  color: #949ea0;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 0.875rem;
  letter-spacing: 0;
  padding: 0.75rem;
  display: inline-block;
  transition: color 0.2s ease;
  margin: -0.75rem;

  @include mediaTablet {
    padding: 0.875rem;
    margin: -0.875rem;
  }

  @include mediaDesktop {
    padding: 0.75rem;
    margin: -0.75rem;
  }
}

.navbar__items__column {
  gap: 2rem;

  .navbar__itemsText {
    padding: 1rem;
    margin: -1rem;
    font-size: 1rem;
    line-height: 1rem;
  }

  @include mediaTablet {
    gap: 1.75rem;
  }

  @include mediaDesktop {
    gap: 1.5rem;
  }
}

.navbar__itemsText_authenticated {
  font-family: $font-ubuntu;
}
