@use '../../mixins/variables' as *;
@use '../../mixins/mediaSize' as *;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.4rem 2rem 2.4rem 2.3rem;
}

.navbar__items {
  display: none;

  @include mediaDesktop {
    display: flex;
    align-items: center;
    gap: 4.5rem;
  }
}

.navbar__heading {
  display: flex;
  align-items: center;
}

.navbar__logo {
  width: 4.8rem;
  height: 4.8rem;
}

.navbar__title {
  font-family: $font-montserrat;
  color: #eaa79e;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.4rem;
  letter-spacing: 0;
  margin: 0.8rem 2rem 0.8rem 0;
}

.navbar__hbMenu {
  display: flex;
  align-items: center;
  height: 1.6rem;
  width: 2.4rem;
  cursor: pointer;

  @include mediaDesktop {
    display: none;
  }
}
