// Media breakpoints
$breakpoint-xs: 0;
$breakpoint-s: 64rem;
$breakpoint-m: 76.8rem;
$breakpoint-l: 102.4rem;
$breakpoint-xl: 128rem;
$breakpoint-xxl: 153.6rem;

@mixin mediaDesktop {
  @media (min-width: #{$breakpoint-m}) {
    @content;
  }
}

@mixin mediaTablet {
  @media (min-width: #{$breakpoint-s}) and (max-width: #{$breakpoint-m - 0.1rem}) {
    @content;
  }
}

@mixin mediaMobile {
  @media (max-width: #{$breakpoint-s - 0.1rem}) {
    @content;
  }
}
