$breakpoint-xs: 30rem; // Small phones
$breakpoint-m: 48rem; // Tablets
$breakpoint-l: 80rem; // Desktop

@mixin mediaMobile {
  @media (max-width: #{$breakpoint-m - 0.06rem}) {
    @content;
  }
}

@mixin mediaTablet {
  @media (min-width: #{$breakpoint-m}) {
    @content;
  }
}

@mixin mediaDesktop {
  @media (min-width: #{$breakpoint-l}) {
    @content;
  }
}
