@use '../../../../mixins/variables' as *;

.base {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 2.81rem;
}

.base__row {
  flex-direction: row;
}

.base__column {
  flex-direction: column;
  align-items: flex-start;
}

.button {
  border: none;
  background-color: $bg-color;
  cursor: pointer;
}

.button__text_highlighted {
  font-family: $font-montserrat;
  color: #eaa79e;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 0.875rem;
  letter-spacing: 0;
}
